<form id="siteForm" enctype="multipart/form-data" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="siteName">Site Name</label>
            <input class="form-control" type="text" name="siteName" placeholder="Site Name" value="{{ data.siteName }}">
        </div>
        <div class="form-group col-md-6">
            <label for="description">Description</label>
            <input class="form-control" type="text" name="description" placeholder="Description" value="{{ data.description }}">
        </div>
        <div class="form-group col-md-6">
            <label for="siteUrl">Site Url</label>
            <input class="form-control" type="text" name="siteUrl" placeholder="Site Url" value="{{ data.siteUrl }}">
        </div>
        <div class="form-group col-md-12">
            <label for="google">Google</label>
            <input class="form-control" type="text" name="google" placeholder="Google" value="{{ data.google }}">
        </div>
        <div class="form-group col-md-12">
            <label for="bing">Bing</label>
            <input class="form-control" type="text" name="bing" placeholder="Bing" value="{{ data.bing }}">
        </div>
        <div class="form-group col-md-12">
            <label for="twitter">Twitter</label>
            <input class="form-control" type="text" name="twitter" placeholder="Twitter" value="{{ data.twitter }}">
        </div>
        <div class="form-group col-md-12">
            <label for="custom">Custom Scripts (Header)</label>
            <input class="form-control" type="text" name="custom" placeholder="Custom" value="{{ data.custom }}">
        </div>
        <div class="form-group col-md-6">
            <label for="smtpServer">Smtp Server</label>
            <input class="form-control" type="text" name="smtpServer" placeholder="Smtp Server" value="{{ data.smtpServer }}">
        </div>
        <div class="form-group col-md-6">
            <label for="smtpPort">Smtp Port</label>
            <input class="form-control" type="text" name="smtpPort" placeholder="Smtp Port" value="{{ data.smtpPort }}">
        </div>
        <div class="form-group col-md-6">
            <label for="smtpUsername">Smtp Username</label>
            <input class="form-control" type="text" name="smtpUsername" placeholder="Smtp Username" value="{{ data.smtpUsername }}">
        </div>
        <div class="form-group col-md-6">
            <label for="smtpPassword">Smtp Password</label>
            <input class="form-control" type="text" name="smtpPassword" placeholder="Smtp Password" value="{{ data.smtpPassword }}">
        </div>
    </div>
    {{"siteForm" | formToken | raw }}
</form>