<form id="usersForm" enctype="multipart/form-data" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="firstName">First Name</label>
            <input class="form-control" type="text" name="firstName" placeholder="First Name"
                   value="{{ data.firstName }}">
        </div>
        <div class="form-group col-md-6">
            <label for="lastName">Last Name</label>
            <input class="form-control" type="text" name="lastName" placeholder="Last Name" value="{{ data.lastName }}">
        </div>
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input class="form-control" type="text" name="email" placeholder="Email" value="{{ data.email }}">
        </div>
        <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" placeholder="Password" value="">
        </div>
        <div class="form-group col-md-6">
            <label for="roleId">Default Role</label>
            <select class="form-control" name="roleId">
                {% for role in roles %}
                    <option {%if data.roleId == role.id %} selected {% endif %} value="{{role.id}}">{{role.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="isActive">Active</label>
            <input class="form-control" type="checkbox" name="isActive" value="1" {%  if (data.isActive == 1 ) %} checked {% endif%} >
        </div>
    </div>
    {{ "usersForm" | formToken | raw }}
</form>