<style>
    /*.input-container {*/
    /*    position: relative;*/
    /*}*/

    label.error {
        color: #fff;
        font-size: 0.8rem;
        /*position: absolute;*/
        /*right: 10px;*/
        /*top: 50%;*/
        /*transform: translateY(-50%);*/
        margin-top: 0.85rem;
        background: orangered;
        font-weight: 600;
        padding: 3px 7px;
        border-radius: 4px;
        line-height: 1;
    }
</style>
<form id="usersForm" enctype="multipart/form-data" xmlns="http://www.w3.org/1999/html">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="firstName">First Name</label>
            <input class="form-control" type="text" name="firstName" placeholder="First Name"
                   value="{{ data.firstName }}">
        </div>
        <div class="form-group col-md-6">
            <label for="lastName">Last Name</label>
            <input class="form-control" type="text" name="lastName" placeholder="Last Name" value="{{ data.lastName }}">
        </div>
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input class="form-control" type="text" name="email" placeholder="Email" value="{{ data.email }}">
        </div>
        <div class="form-group col-md-6">
            <label>Password</label>
            <div class="input-container">
                <input class="form-control" type="password" name="password" placeholder="Password"
                       autocomplete="on"/>
            </div>
        </div>
{#        <div class="form-group col-md-6">#}
{#            <label for="password">Password</label>#}
{#            <input data-html="true" class="form-control" type="password" id="password" name="password" placeholder="Password" value=""></input>#}
{#        </div>#}
        <div class="form-group col-md-6">
            <label for="roleId">Default Role</label>
            <select class="form-select" name="roleId">
                {% for role in roles %}
                    <option {%if data.roleId == role.id %} selected {% endif %} value="{{role.id}}">{{role.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-6">
            <div class="form-check form-switch">
                <input class="form-check-input" name="isActive" value="1" type="checkbox" id="isActive" {%  if (data.isActive == 1 ) %} checked {% endif%}>
                <label class="form-check-label" for="isActive">Active</label>
            </div>
        </div>
    </div>
    <input type="hidden" name="siteId" value="{{ siteId }}">
    {{ "usersForm" | formToken | raw }}
    <script>
        // console.log('ok');
        var passInput = document.getElementById('password');
        // const hideCompleted = false
        // const showPasswordButton = true
        // const length = 16
        var form = null;

        $(document).ready(function() {

            $.validator.addMethod("regex", function(value, element, regexpr) {
                return regexpr.test(value);
            }, "Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters");

            $("#usersForm").validate({
                rules: {
                    password: {
                        regex: /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}$/i,
                    },
                },
                messages: {
                    password: {
                        regex: "Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                    }
                }
            });
        });

        function togglePassword() {
            passInput.type === "password" ? passInput.type = "text" : passInput.type = "password"
        }

        // $('#password').on('input', function() {
        //     checkPasswordStrength();
        // })

        $("#show_password").click(function(){
            togglePassword()
        })

    </script>
</form>