{% for category in article.categories %}
    <a class="badge badge-primary m-1 p-2"
       href="/content/{{ category.categoryName | getSlug }}">{{ category.categoryName }}</a>
{% endfor %}

<h1>{{ title }}</h1>

<p>By {{ article.author }} {{ article.publishedDate }}</p>

{% if (image) %}
    <span class="large mb-4">
    <img src="data:image/png;base64,{{ image }}" style='height: 100%; width: 100%; object-fit: contain'/>
</span>
{% endif %}


{{ render(content) | raw }}

{% set keywords = article.keywords|split(',') %}

<a href="#">TAGS</a>
{% for keyword in keywords %}
    <a href="/content/tags/{{ keyword | getSlug }}">{{ keyword }}</a>
{% endfor %}

<a href="/content/article/{{ article.relatedArticles[0].slug }}">Previous Article<br>
    {{ article.relatedArticles[0].title }}
</a>

<a href="/content/article/{{ article.relatedArticles[1].slug }}">Next Article<br>
    {{ article.relatedArticles[1].title }}
</a>


<h3><span>Related Articles</span></h3>

{% for article in article.relatedArticles %} {% include "snippets/small.twig" with {'article': article} %} {% endfor %}


