<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta prefix="og: https://ogp.me/ns#" property="og:title" content="{{ title }}"/>
    <meta prefix="og: https://ogp.me/ns#" property="og:type" content="website"/>
    <meta prefix="og: https://ogp.me/ns#" property="og:url" content="{{ url }}"/>
{% if image %}
    <meta prefix="og: https://ogp.me/ns#" property="og:image" content="{{ image }}"/>
{% endif %}
{% if description %}
    <meta name="description" content="{{ description }}"/>
    <meta prefix="og: https://ogp.me/ns#" property="og:description" content="{{ description }}"/>
{% endif %}
{% if keywords %}
    <meta name="keywords" content="{{ keywords }}"/>
    <meta prefix="og: https://ogp.me/ns#" property="og:keywords" content="{{ keywords }}"/>
{% endif %}
{% block headers %}
    <link rel="stylesheet" type="text/css" href="/css/default.css">
{% endblock %}
</head>
{% block body %}
<body>
{% block navigation %}
{% endblock %}
{% block content %}
{{ content | raw  }}
{% endblock %}
{% block footer %}
{% endblock %}
</body>
{% endblock %}
</html>
