{% set userRoles = Content.getSecurityAttribute('', session.user.roleId) %}
<table id="articleCategoryTable" class="table table-striped table-bordered table-condensed" style="width:100%">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Parent Name</th>
        <th>Slug</th>
        <th>Order</th>
        <th>Active</th>
        {% if (not userRoles.Content['Article Categories'] or userRoles.Content['Article Categories'].edit) or  (not userRoles.Content['Article Categories'] or userRoles.Content['Article Categories'].delete) %}
        <th>Options</th>
        {% endif %}
    </tr>
    </thead>
</table>
<script>
    var articleCategoryTable = null;

    $(document).ready(function () {
        articleCategoryTable = $('#articleCategoryTable').DataTable({
            dom: '<"row"<"col-md-6"B><"col-md-4"f><"col-md-2"l>><rtip>',
            ajax: {
                url: '{{ baseUrl }}/api/admin/article-categories?siteId={{ session.siteId }}',
                data: function (d) {
                    d.formToken = formToken;
                }
            },
            columns: [
                {"data": "id"},
                {"data": "name"},
                {"data": "parentName", "searchable": false},
                {"data": "slug"},
                {"data": "displayOrder"},
                {
                    "data": "isActive",
                    "mRender": function (data, type, row) {
                        if (row.isActive == 1) {
                            return 'Yes'
                        } else {
                            return 'No'
                        }
                    }
                },
                {% if (not userRoles.Content['Article Categories'] or userRoles.Content['Article Categories'].edit) or  (not userRoles.Content['Article Categories'] or userRoles.Content['Article Categories'].delete) %}
                {
                    "data": null,
                    "mRender": function (data, type, row) {
                        if (row.name == 'Root') return "";
                        let html = '';
                        //loadForm parameters: api to retrieve modal form, target div id to load form to, row data, title of
                        {% if (not userRoles.Content['Article Categories'] or userRoles.Content['Article Categories'].edit) %}
                        html += '<button class="btn btn-primary small-button" onclick="showForm(\'edit\',\'{{ baseUrl }}/api/admin/article-categories/' + row.id + '?siteId={{ session.siteId }}\')">Edit</button>';
                        {% endif %}
                        {% if (not userRoles.Content['Article Categories'] or userRoles.Content['Article Categories'].delete) %}
                        html += ' <button class="btn btn-danger small-button" onclick="if (confirm(\'Delete article category ?\')) { showForm(\'delete\',\'{{ baseUrl }}/api/admin/article-categories/' + row.id + '?siteId={{ session.siteId }}\');}">Del</button>';
                        {% endif %}
                        return html;

                    },
                    "sClass": "text-right",
                    "searchable": false,
                    "orderable": false
                }
                {% endif %}
            ],
            processing: true,
            serverSide: true,
            responsive: true,
            buttons: [
                {% if (not userRoles.Content['Article Categories'] or userRoles.Content['Article Categories'].create) %}
                {
                    text: 'Create',
                    action: function (e, dt, node, config) {
                        let data = {};
                        showForm('create', '{{ baseUrl }}/api/admin/article-categories/form?siteId={{ session.siteId }}');
                    }
                },
                {% endif %}
                'copy', 'excel', 'pdf', 'print'

            ]
        });
    });
</script>
<div id="form"></div>
<div id="message"></div>
