{% set title = "Page Builder" %}
{% extends twigNameSpace ~ '/base.twig' %}
{% block headers %}
    <script src="{{ baseUrl }}/js/jquery.min.js"></script>
    <script src="{{ baseUrl }}/js/bootstrap.bundle.min.js"></script>
    <script src="{{ baseUrl }}/js/underscore.min.js"></script>
    <script src="{{ baseUrl }}/js/jquery.validate.js"></script>


    <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/bootstrap-utilities.min.css">

    <link href="{{ baseUrl }}/css/data-tables.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="{{ baseUrl }}/js/data-tables.js"></script>

    <script src="https://unpkg.com/grapesjs-custom-code"></script>
    <script src="https://unpkg.com/grapesjs-component-code-editor"></script>
    <script src="https://unpkg.com/grapesjs-parser-postcss"></script>
    <script src="https://unpkg.com/grapesjs@0.21.2/dist/grapes.min.js"></script>


    <script src="{{ Content.getTinyMCEIncludePath }}/tinymce/tinymce.min.js" referrerpolicy="origin"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"
            integrity="sha512-GZ1RIgZaSc8rnco/8CXfRdCpDxRCphenIiZ2ztLy3XQfCbQUSCuk8IudvNHxkRA3oUg6q0qejgN/qqyG1duv5Q=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-twig.min.js"
            integrity="sha512-ZtTfixyUItifC8wzQ1PwinttMP5W02H6zYeC/cAU+YPCA88vcrIUMI+fCk27yWN5k92zm32PWjpKYPYR/npZzg=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/theme-monokai.min.js"
            integrity="sha512-S4i/WUGRs22+8rjUVu4kBjfNuBNp8GVsgcK2lbaFdws4q6TF3Nd00LxqnHhuxS9iVDfNcUh0h6OxFUMP5DBD+g=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/theme-sqlserver.min.js"
            integrity="sha512-TkNvDZzCp+GGiwfXNAOxt6JDzuELz8qquDcZrUzPXuKRvOcUA6kSZu2/uPhKbbjqeJIjoevYn10yrt8TS+qUXQ=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>

    <script src="{{ baseUrl }}/js/bootstrap-tagsinput.js"></script>
    <script src="{{ baseUrl }}/js/tina4helper.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/grapesjs/0.21.2/css/grapes.min.css"
          integrity="sha512-teZVIvNgTrmIIFs77Fs03dArj3HsJbQ6QMFRE5nAnt7etwO3wTgW2Z/1l6uvd1/TAycO68STs2QitYKzE2BqCg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link rel="stylesheet" href="{{ baseUrl }}/css/page-builder.css">
    <link rel="stylesheet" type="text/css" href="{{ Theme.Dir(site.theme) }}/css/admin.css">
{% endblock %}
{% block navigation %}
{% endblock %}
{% block content %}
    <div class="app-wrap">
        <div class="nav-sidebar">
            <div href="{{ baseUrl }}/" class="tina-logo"><a href="#" onclick="loadPage('{{ baseUrl }}/cms/dashboard', 'cms');"><img src="{{ baseUrl }}/images/tina4-logo-icon.png" width="100%"></a>
                <span id="siteName" class="selected-site-name"></span>
                <a href="#" class="sidebar-toggler-container">
                    <span class="sidebar-toggler"></span>
                </a>
            </div>
            <a href="#" class="pages-link"
               onclick="setActive(this); $('#gjs').hide(); $('#cms').show(); if ($('cms').innerHTML === '') { loadPage('{{ baseUrl }}/cms/dashboard', 'cms') } "><img
                        class="pages-link-icon" src="{{ baseUrl }}/images/nav-icons/nav-icon-site-settings.svg">Site
                Settings</a>
            <a href="#" class="pages-link"
               onclick="setActive(this); $('#gjs').show(); $('#cms').hide(); loadGrapeJsPage('layout')"><img
                        class="pages-link-icon" src="{{ baseUrl }}/images/nav-icons/nav-icon-page-layout.svg">Page
                Layout</a>
            <a href="#" class="pages-link"
               onclick="setActive(this); $('#gjs').show(); $('#cms').hide(); loadGrapeJsPage('layoutArticle')"><img
                        class="pages-link-icon" src="{{ baseUrl }}/images/nav-icons/nav-icon-article-layout.svg">Article
                Layout</a>
            <h3 class="pages-heading"><img class="pages-link-icon"
                                           src="{{ baseUrl }}/images/nav-icons/nav-icon-pages.svg">Pages</h3>
            <div class="pages">
                {% for page in pages %}
                    <a href="#" class="pages-link"
                       onclick="setActive(this); $('#gjs').show(); $('#cms').hide(); loadGrapeJsPage('{{ page.id }}')">{{ page.title }}</a>
                {% endfor %}
            </div>
            <div class="site-selector-container">
                {% if session.user is not null and countSites > 1 and session.user.siteId == 1 %}
                    <h3 class="pages-heading"><img class="pages-link-icon"
                                                   src="{{ baseUrl }}/images/nav-icons/nav-icon-sites.svg">Choose Site</h3>
                    <div id="siteDropDown" class="site-selector">
                        <label for="siteId" class="sr-only">Choose Site</label>
                        <form id="setSite" action="{{ baseUrl }}/cms/site/set" method="post">
                            <select id="siteId" name="siteId" class="form-select"
                                    onchange="document.getElementById('setSite').submit()">
                                {% for listSite in sites %}
                                    <option value="{{ listSite.id }}"
                                            {% if listSite.id == session.siteId %}selected{% endif %}>{{ listSite.siteName }}</option>
                                    {% if listSite.id == session.siteId %}
                                    <script>document.getElementById('siteName').innerText = '{{ listSite.siteName }}';</script>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <input type="hidden" name="formToken" value="{{ formToken("siteSet") }}">
                        </form>
                    </div>
                {% endif %}
            </div>

            <div class="pages-links--bottom">
                <a href="#" onclick="loadPage('{{ baseUrl }}/cache/clear', 'cacheClear')" class="pages-link pages-link--logout">Clear Cache<span id="cacheClear"></span>
                    <svg id="clearcache" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250.9 294"><path d="M137.81,215.88l.84,1.79,12.54,26.62.28.59-.52.14c-4.93,1.36-9.9,2.34-14.9,2.93-32.82,3.94-66.26-8.34-88.74-34.09-29.15-33.38-33.19-82.57-10.03-120.17.28-.46.55-.91.84-1.35l5.98-9.37-18.74-11.96-5.98,9.37C5.28,102.51-1.51,129.17.28,155.48c1.85,27.19,12.32,52.44,30.29,73.02,32.54,37.25,83.91,51.37,130.49,36.72l13.56,28.78,20.17-56.14.11-.3-1.69-1.76-55.4-19.92Z" style="fill:#333; stroke-width:0"/><path d="M250.81,139.39c-1-27.22-10.67-52.76-27.97-73.87-10.5-12.81-23.19-23.09-37.2-30.61-29.27-15.7-64.28-19.3-96.96-8.63L74.11,0l-16.82,58.69,56.58,16.24,2.1.6-14.98-27.02-.25-.44-1.07-1.92c25.62-7.18,52.64-3.9,75.44,8.33,6.82,3.66,13.27,8.13,19.19,13.35,0,0,0,0,0,0,4.05,3.57,7.85,7.5,11.34,11.77,27.44,33.47,30.44,81.29,7.87,117.82-.52.84-1.05,1.68-1.6,2.51-.29.44-.58.88-.88,1.32l-6.27,9.17,18.35,12.53,6.26-9.17c14.78-21.65,22.39-48.07,21.43-74.39Z" style="fill:#333;stroke-width:0"/></svg>
                </a>
                <a href="{{ baseUrl }}/cms/logout" class="pages-link pages-link--logout">Logout<img alt="Logout CMS" class="pages-link-icon"
                                                                                       src="{{ baseUrl }}/images/nav-icons/nav-icon-logout.svg"></a>
            </div>

        </div>
        <div class="main-content">
            <div id="cms"></div>
            <div style="display:none" id="gjs"></div>
        </div>
    </div>
    {% if not session.user %}
        {% do redirect(baseUrl ~ '/cms/login') %}
    {% endif %}
    <script>
        function getFreshToken() {
            postUrl('{{ baseUrl }}/cms/page-builder/fresh-token?formToken='+formToken, null, null, function(data){
                console.log('FreshToken', data);
                formToken = data.formToken;
            });
        }

        function refreshToken() {
            console.log('Refreshing token');
            getFreshToken();
            setTimeout(refreshToken, 100000);
        }

        const editor = grapesjs.init({
            container: '#gjs',
            showOffsets: true,
            jsInHtml: false,
            allowScripts: true,
            canvas: {
                scripts: {{ Theme.Scripts(site.theme) | raw }},
                styles: {{ Theme.Styles(site.theme) | raw }},
            },
            plugins: ['grapesjs-custom-code', 'grapesjs-component-code-editor', 'grapesjs-parser-postcss'],
            assetManager: {
                // Upload endpoint, set `false` to disable upload, default `false`
                upload: '{{ baseUrl }}/cms/page-builder/assets/upload?siteId={{ site.id }}&formToken={{ formToken }}'
            },
            storageManager: {
                type: 'remote',
                stepsBeforeSave: 1,
                autosave: true,
                autoload: false,
                contentTypeJson: true,
                storeComponents: true,
                storeStyles: true,
                storeHtml: true,
                storeCss: true,
                params: {formToken: formToken},
                options: {
                    remote: {
                        urlLoad: "{{ baseUrl }}/cms/page-builder/pages?siteId={{ site.id }}",
                        urlStore: "{{ baseUrl }}/cms/page-builder/pages?siteId={{ site.id }}",
                        onStore: data => ({
                            pageId: pageManager.getSelected().id,
                            html: editor.getHtml(),
                            css: editor.getCss(),
                            data: data,
                            formToken: formToken
                        }),
                        onLoad: data => {
                            console.log(data)
                        }
                    }
                }
            },
            deviceManager: {
                label: "Test",
                devices: [
                    {
                        name: "Desktop",
                        width: "",
                    },
                    {
                        name: "Tablet",
                        width: "768px",
                        widthMedia: "768px",
                    },
                    {
                        name: "Mobile",
                        width: "320px",
                        widthMedia: "480px",
                    },
                ],
            },
        });


        editor.on('asset:upload:start', () => {
           let config = editor.AssetManager.getConfig();
           config.upload = '{{ baseUrl }}/cms/page-builder/assets/upload?siteId={{ site.id }}&formToken='+formToken;
        });

        editor.on('storage:start:load', () => {
            let config = editor.StorageManager.getConfig();
            config.options.remote.urlStore = '{{ baseUrl }}/cms/page-builder/pages?siteId={{ site.id }}&formToken='+formToken;
        });

        editor.on('storage:end:load', (data) => {
            formToken = data.formToken;
        });

        editor.on('storage:end:store', (data) => {
            getFreshToken();
        });


        setTimeout(refreshToken, 100000)


        let pageManager = editor.Pages;
        let storageManager = editor.Storage;
        let panelManager = editor.Panels;
        let data = null;

        function confirmCanvasClear() {
            if (window.confirm('Are you sure you want to clear the canvas? This will delete all of your content.')) {
                editor.Commands.run('core:canvas-clear');
            }
        }

        editor.Panels.addButton('options', [
            {
                id: 'undo',
                attributes: {
                    title: 'Undo'
                },
                label: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M0 0h26v26H0z" style="fill:none;stroke-width:0"/><path d="M15.8 8.43H4.94l4.07-4.08a.87.87 0 1 0-1.23-1.23L2.26 8.66a.87.87 0 0 0 0 1.23l5.52 5.54a.87.87 0 1 0 1.23-1.23l-4.02-4.04h10.82c3.1 0 5.62 2.51 5.62 5.62 0 3.1-2.51 5.62-5.62 5.62H5.92a.871.871 0 0 0 0 1.74h9.88c4.06 0 7.36-3.29 7.36-7.35s-3.29-7.36-7.36-7.36" style="fill:#fff;stroke-width:0"/></svg>',
                command: 'core:undo'
            },
            {
                attributes: {
                    title: 'Redo'
                },
                label: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M0 0h26v26H0z" style="fill:none;stroke-width:0"/><path d="M16.15 15.44c.34.34.89.34 1.23 0l5.52-5.55a.87.87 0 0 0 0-1.23l-5.52-5.54a.87.87 0 1 0-1.23 1.23l4.07 4.08H9.36C5.3 8.43 2 11.72 2 15.79s3.29 7.36 7.36 7.36h9.88a.87.87 0 0 0 0-1.74H9.36c-3.1 0-5.62-2.51-5.62-5.62s2.51-5.62 5.62-5.62h10.82l-4.03 4.04a.87.87 0 0 0 0 1.23" style="fill:#fff;stroke-width:0"/></svg>',
                command: 'core:redo'
            },
            {
                id: 'delete',
                attributes: {
                    title: 'Clear Canvas'
                },
                label: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M0 0h26v26H0z" style="fill:none;stroke-width:0"/><path d="M21.33 5.32h-4.37v-.88c0-1.44-1.17-2.61-2.62-2.62h-3.49c-1.44 0-2.61 1.17-2.61 2.62v.88H3.87a.87.87 0 0 0 0 1.74h.88v14.5c0 1.44 1.17 2.61 2.61 2.61h10.48c1.44 0 2.61-1.17 2.61-2.61V7.06h.88a.87.87 0 0 0 0-1.74M9.98 4.44c0-.48.39-.88.88-.88h3.49c.48 0 .88.39.88.88v.88H9.98v-.88Zm8.74 17.11c0 .48-.39.88-.88.88H7.36c-.48 0-.88-.39-.88-.88V7.06h12.23v14.5Z" style="fill:#fff;stroke-width:0"/><path d="M9.11 10.38a.87.87 0 0 0-.87.87v8.73a.87.87 0 0 0 1.74 0v-8.73a.87.87 0 0 0-.87-.87M12.6 10.38a.87.87 0 0 0-.87.87v8.73a.87.87 0 0 0 1.74 0v-8.73a.87.87 0 0 0-.87-.87M15.22 11.25v8.73a.871.871 0 0 0 1.74.06V11.25a.871.871 0 0 0-1.74-.06v.06" style="fill:#fff;stroke-width:0"/></svg>',
                command: confirmCanvasClear
            },
        ]);

        const panelViews = panelManager.addPanel({
            id: "views"
        });

        panelViews.get("buttons").add([
            {
                attributes: {
                    title: 'Open Code'
                },
                label: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M0 0h26v26H0z" style="fill:none;stroke-width:0"/><path d="M17.19 11.58a.833.833 0 0 0-1.17 0c-.32.32-.32.85 0 1.17l1.94 1.94-1.94 1.94c-.32.33-.31.86.03 1.17.32.31.83.31 1.15 0l2.53-2.53c.32-.32.33-.85 0-1.17l-2.53-2.53ZM14.23 9.75a.842.842 0 0 0-1.01.6l-2.07 8.27c-.11.44.16.89.6 1.01.07.02.13.03.2.02.38 0 .71-.26.81-.63l2.07-8.27a.842.842 0 0 0-.6-1.01" style="fill:#fff;stroke-width:0"/><path d="M20.35 3.38H5.65c-1.7 0-3.08 1.38-3.09 3.09v13.07c0 1.7 1.38 3.08 3.09 3.09h14.7c1.7 0 3.08-1.38 3.09-3.09V6.47c0-1.7-1.38-3.08-3.09-3.09M5.65 5.04h14.7c.79 0 1.43.64 1.43 1.43v.54H4.22v-.54c0-.79.64-1.43 1.43-1.43m14.7 15.92H5.65c-.79 0-1.43-.64-1.43-1.43V8.66h17.56v10.87c0 .79-.64 1.43-1.43 1.43" style="fill:#fff;stroke-width:0"/><path d="M9.99 11.58a.833.833 0 0 0-1.17 0l-2.53 2.53c-.32.32-.33.85 0 1.17l2.53 2.53c.33.32.86.3 1.17-.03.31-.32.31-.83 0-1.15l-1.94-1.94 1.94-1.94c.32-.32.32-.85 0-1.17" style="fill:#fff;stroke-width:0"/></svg>',
                command: 'open-code',
                togglable: true, //do not close when button is clicked again
                id: 'open-code'
            }
        ]);

        async function loadGrapeJsPage(pageId) {
            if (data === null) {
                console.log('Loading data');
                storageManager.autoload = true;
                data = await storageManager.load();
                editor.load(data);
            }

            data = editor.getProjectData();
            await storageManager.store(data);
            pageManager.select(pageId);
        }

        /**
         * Adds an active class to the selected menu and removes from the others
         * @param a
         */
        function setActive(a) {
            let otherAnchors = a.parentNode.getElementsByTagName('a')
            for (let i = 0; i < otherAnchors.length; i++) {
                otherAnchors[i].classList.remove('active');
            }
            a.classList.add('active');
        }

        editor.on('load', (event) => {

            //const blockBtn = editor.Panels.getButton('views', 'open-blocks');
            //blockBtn.set('active', 1);
            //editor.runCommand('core:open-blocks');
        });

        editor.on('rte:enable', () => {

        });

        const rte = editor.RichTextEditor;
        rte.add('openai', {
            icon: '<svg id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><polygon points="6.12 1 7.57 4.68 11.25 6.12 7.57 7.57 6.12 11.25 4.68 7.57 1 6.12 4.68 4.68 6.12 1" style="fill:#515962; stroke-width:0px;"/><polygon points="6.7 14.55 5.35 19 10.1 17.55 6.7 14.55" style="fill:#515962; stroke-width:0px;"/><path d="m11.12,16.53l7.58-7.58c.4-.4.4-1.06,0-1.46l-1.74-1.74c-.4-.4-1.06-.4-1.46,0l-7.78,7.78" style="fill:#515962; stroke-width:0px;"/></svg>',
            attributes: {title: 'AI Enhance'},
            result: async function (rte) {
                let prompt = await rte.selection().toString();

                fetch('{{ baseUrl }}/cms/page-builder/open-ai?prompt=' + rte.el.innerHTML)
                    .then(async function (response) {
                        const data = await response.text();
                        rte.el.innerHTML = data;
                    });
            }
        });

        rte.add('openai', {
            icon: '<svg id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="m8.54,9.56v8.47c0,.56.46,1.02,1.02,1.02h8.47c.56,0,1.02-.46,1.02-1.02v-8.47c0-.56-.46-1.02-1.02-1.02h-8.47c-.56,0-1.02.46-1.02,1.02Zm8.79.14c.31,0,.55.25.55.55v3.8l-1.11-.99c-.23-.21-.59-.19-.8.05l-2.66,2.96-1.53-1.57c-.22-.23-.59-.23-.81,0l-1.26,1.26v-5.52c0-.31.25-.55.55-.55h7.08Z" style="fill:#515962; stroke-width:0px;"/><path d="m12.5,12.83c.54,0,.98-.44.98-.98s-.44-.98-.98-.98-.98.44-.98.98.44.98.98.98Z" style="fill:#515962; stroke-width:0px;"/><polygon points="6.12 1 7.57 4.68 11.25 6.12 7.57 7.57 6.12 11.25 4.68 7.57 1 6.12 4.68 4.68 6.12 1" style="fill:#515962; stroke-width:0px;"/></svg>',
            attributes: {title: 'AI Enhance'},
            result: async function (rte) {
                let prompt = await rte.selection().toString();

                fetch('{{ baseUrl }}/cms/page-builder/open-ai?prompt=' + rte.el.innerHTML+'&image=true')
                    .then(async function (response) {
                        const data = await response.text();
                        rte.el.innerHTML = data;
                    });
            }
        });

        // Get the BlockManager module first
        const blockManager = editor.Blocks; // `Blocks` is an alias of `BlockManager`

        //Load tina4cms
        loadPage('{{ baseUrl }}/cms/dashboard?formToken={{formToken}}', 'cms');
    </script>
    {% set blocks = Theme.Blocks(site.theme) %}
    {% for block in blocks %}
    <script src="{{ block }}"></script>
    {% endfor %}
    {% set components = Theme.Components(site.theme) %}
    {% for component in components %}
    <script src="{{ component }}"></script>
    {% endfor %}
{% endblock %}