{% extends twigNameSpace ~ '/base.twig' %}
{% block headers %}
    <script src="{{ baseUrl }}/js/jquery.min.js"></script>
    <script src="{{ baseUrl }}/js/bootstrap.bundle.min.js"></script>
    <script src="{{ baseUrl }}/js/underscore.min.js"></script>
    <script src="{{ baseUrl }}/js/jquery.password-validator.js"></script>
    <script src="{{ baseUrl }}/js/jquery.validate.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/bootstrap-utilities.min.css">
    <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/jquery-password-validator.css">

{%  endblock %}
{% block content %}
    <div class="col-md-4 offset-md-4">
    <div class="card mt-4">
        <div class="card-header">
            <h4>Login</h4>
        </div>
        <div class="card-body">
            <form id="loginForm" method="post">
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="text" name="email" placeholder="Email Address"
                           autocomplete="on"/>
                </div>
                <button class="btn btn-block btn-primary">Reset</button>

                <a href="/cms/login">back to login</a>
                {{ "reset" | formToken | raw }}
            </form>
            <script>
                $("#loginForm").validate({
                    rules: {
                        email: "required",
                    },
                    messages: {
                        email: "Email address required",

                    }
                });
            </script>

        </div>

    </div>


{% endblock %}