{% extends twigNameSpace ~ '/base.twig' %}
{% block headers %}
    <script src="{{ baseUrl }}/js/jquery.min.js"></script>
    <script src="{{ baseUrl }}/js/bootstrap.bundle.min.js"></script>
    <script src="{{ baseUrl }}/js/jquery.validate.js"></script>
    <script src="{{ baseUrl }}/js/underscore.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/bootstrap-utilities.min.css">
{%  endblock %}
{% block content %}
    <style>
        label.error {
            color: #fff;
            font-size: 0.8rem;
            /*position: absolute;*/
            /*right: 10px;*/
            /*top: 50%;*/
            /*transform: translateY(-50%);*/
            margin-top: 0.85rem;
            background: orangered;
            font-weight: 600;
            padding: 3px 7px;
            border-radius: 4px;
            line-height: 1;
        }
    </style>
    <div class="col-md-4 offset-md-4">
        <div class="card mt-4">
            <div class="card-header">
                <h4 class="h4">Setup CMS <img width="128px" style="float:right" src="/src/public/images/logo.png"></h4>
            </div>
            <div class="card-body">
                <form id="setupForm" method="post">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input class="form-control" type="text" id="firstName" name="firstName" placeholder="First Name"
                               value="" autocomplete="on"/>
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input class="form-control" type="text" id="lastName" name="lastName" placeholder="Last Name"
                               value="" autocomplete="on"/>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input class="form-control" type="text" name="email" placeholder="Email Address"
                               autocomplete="on"/>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input class="form-control" id="password" type="password" name="password" placeholder="Password"
                               />
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input class="form-control" type="password" name="confirmPassword"
                               placeholder="Confirm Password"
                               />
                    </div>
                    <div class="d-grid gap-2">
                    <button class="btn btn-primary">Setup</button>
                    </div>
                    {{ "setup" | formToken | raw }}
                </form>
                <script>
                    $(document).ready(function() {
                        $.validator.addMethod("regex", function (value, element, regexpr) {
                            return regexpr.test(value);
                        }, "Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters");

                        $("#setupForm").validate({
                            rules: {
                                email: "required",
                                password: {
                                    regex: /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}$/i,
                                },
                                confirmPassword: {required: true, equalTo: "#password"}
                            },
                            messages: {
                                email: "Email address required",
                                password: {
                                    regex: "Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                                },
                                confirmPassword: "Make sure you type the same value in again"
                            }
                        });
                    });


                </script>

            </div>
        </div>
    </div>


{% endblock %}