<div class="col-sm-3 col-lg-3">
    <div class="mini row" onclick="document.location.href = '/content/article/{{ article.slug }}';">
        <div class="col text-right"><img src="{{ article.image }}" /></div>
        <div class="col flex-column">
            <h5><a href="/content/article/{{ article.slug }}">{{ article.title }}</a></h5>
            <cite class="text-muted"><small>{{ article.publishedDate }}</small></cite>
        </div>
    </div>
</div>
