<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>

    <meta prefix="og: https://ogp.me/ns#" property="og:title" content="{{ title }}"/>
    <meta prefix="og: https://ogp.me/ns#" property="og:type" content="website"/>
    <meta prefix="og: https://ogp.me/ns#" property="og:url" content="{{ url }}"/>
    <meta prefix="og: https://ogp.me/ns#" property="og:image" content="{{ image }}"/>
    <meta prefix="og: https://ogp.me/ns#" property="og:description" content="{{ description }}"/>
    {% block headers %}
    {% endblock %}
</head>
<body>
<div class="container">
    {% block navigation %}
        {% include "navigation.twig" %}
    {% endblock %}

    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
    {% block footer %}
    {% endblock %}
</div>

</body>
</html>