<form id="pageForm" enctype="multipart/form-data" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="form-group col-md-4">
            <label for="id">Id</label>
            <input class="form-control" type="text" readonly name="id" placeholder="Id" value="{{ data.id }}">
        </div>
        <div class="form-group col-md-4">
            <label for="title">Name</label>
            <input class="form-control" type="text" name="name" placeholder="Name" value="{{ data.name }}">
        </div>
        <div class="form-group col-md-4">
            <label for="title">Title</label>
            <input class="form-control" type="text" name="title" placeholder="Title" value="{{ data.title }}">
        </div>
        <div class="form-group col-md-12">
            <label for="description">Description</label>
            <input class="form-control" type="text" name="description" placeholder="Description" value="{{ data.description }}">
        </div>
        <div class="form-group col-md-2">
            <img class="img-thumbnail" src="data:image/png;base64,{{ data.image }}">
        </div>
        <div class="form-group col-md-4">
            <label for="image">Image</label>
            <input class="form-control" type="file" name="image" placeholder="Image" value="">
        </div>
        <div class="form-group col-md-12">
            <label for="content">Content</label>
            <textarea id="contentEditor" class="form-control" name="content">{{ data.content }}</textarea>
            <script>
                var contentEditor = CKEDITOR.replace( 'contentEditor', {
                    filebrowserBrowseUrl: '/content/file/browse?formToken={{ formToken }}',
                    filebrowserUploadUrl: '/content/file/upload?formToken={{ formToken }}',
                    allowedContent: true,
                    enterMode : CKEDITOR.ENTER_BR,
                    shiftEnterMode: CKEDITOR.ENTER_P
                });
                contentEditor.on( 'change', function( evt ) {
                    $('#contentEditor').val(evt.editor.getData());
                    console.log( 'Total bytes: ' + evt.editor.getData().length );
                });
            </script>
        </div>
        <div class="form-group col-md-12">
            <label>Keywords/Tags</label>
            {% include "tagLookup.twig" %}
        </div>
        <div class="form-group col-md-2">
            <label for="playerKey">Published</label>
            <input class="form-control" type="checkbox" name="isPublished" value="1" {%  if (data.isPublished == 1 ) %} checked {% endif%} >
        </div>



    </div>
    {{  "pageForm" | formToken | raw }}
</form>
