<form id="articleForm" enctype="multipart/form-data" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="form-group col-md-4">
            <label for="title">Title</label>
            <input class="form-control" type="text" name="title" placeholder="Title" value="{{ data.title }}">
        </div>
        <div class="form-group col-md-6">
            <label for="description">Description</label>
            <input class="form-control" type="text" name="description" placeholder="Description" value="{{ data.description }}">
        </div>
        {% if session.user.id %}
            <div class="form-group col-md-2">
                <label for="author">Author</label>
                <input class="form-control" type="text" name="author" readonly placeholder="Author" value="{{ session.user.firstName }} {{ session.user.lastName }}">
                <input type="hidden" name="userId" value="{{ session.user.id }}">
            </div>
        {%  else %}
            <div class="form-group col-md-2">
                <label for="author">Author</label>
                <input class="form-control" type="text" name="author" placeholder="Author" value="{{ data.author }}">
            </div>
        {% endif %}
        <div class="form-group col-md-1">
            <img class="img-thumbnail" src="data:image/png;base64,{{ data.image }}">
        </div>
        <div class="form-group col-md-5">
            <label for="image">Image</label>
            <input class="form-control" type="file" name="image" placeholder="Image" value="">
        </div>
        <div class="form-group col-md-2">
            <label for="playerKey">Published</label>
            <input class="form-control" type="checkbox" name="isPublished" value="1" {%  if (data.isPublished == 1 ) %} checked {% endif%} >
        </div>

        <div class="form-group col-md-9">
            <label for="contentEditor">Content</label>

            <div id="contentEditor" class="form-control" style="height:300px">{{ data.content | raw }}</div>
            <style>
                .ql-snippets {
                    width: 140px;
                }
                {% for snippet in snippets %}
                .ql-snippets.ql-picker [data-value="{{ snippet.name }}"]::before {
                    content: '{{ snippet.name }}'
                }
                {% endfor %}
                .ql-articles {
                    width: 140px;
                }
                .ql-articles.ql-picker [data-value="small"]::before {content: 'small'}
                .ql-articles.ql-picker [data-value="mini"]::before {content: 'mini'}
                .ql-articles.ql-picker [data-value="medium"]::before {content: 'medium'}
                .ql-articles.ql-picker [data-value="med-large"]::before {content: 'med-large'}
                .ql-articles.ql-picker [data-value="large"]::before {content: 'large'}

                .ql-html::before { content: '<html>' }

            </style>
            <script>
                var toolbarOptions = [
                    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                    ['blockquote', 'code-block'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                    [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
                    [{ 'direction': 'rtl' }],                         // text direction

                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    ['link','image', 'video'],

                    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                    [{ 'font': [] }],
                    [{ 'align': [] }],

                    ['clean']   ,
                    [{'snippets': [{% for snippet in snippets %}'{{ snippet.name }}',{% endfor %}]}],// remove formatting button
                    [{'articles': ['small', 'mini', 'medium', 'med-large', 'large']}],
                    ['html']

                ];

                var editor = new Quill('#contentEditor', {
                    modules: {
                        toolbar: {container: toolbarOptions,
                            handlers: {
                                "snippets": insertSnippet,
                                "articles": insertArticle,
                                "html": toggleSource
                            }}
                    },
                    theme: 'snow'
                });


                function insertSnippet(snippetName) {
                    console.log ('Inserting Snippet ', snippetName);

                    const cursorPosition = editor.getSelection().index;
                    editor.insertText(cursorPosition, '\n\{\{ include( getSnippet("'+snippetName+'") ) \}\}');
                }

                function insertArticle(articleType) {
                    articleText = `\{\% set articles = Content.getArticles ("", 8) \%\}\n\{\% for article in articles \%\}{\% include "snippets/${articleType}.twig" with {"article": article} \%\}\{\% endfor \%\}\n{\% set params = {"tag": "all", "skip": 4, "limit": 4, "template": "${articleType}.twig"} \%\}\n\{\% include "load-more.twig" with params \%\}`;
                    const cursorPosition = editor.getSelection().index;
                    editor.insertText(cursorPosition, '\n'+articleText);

                }

                function toggleSource() {
                    if (!$('#saveContent').is(':visible')) {
                        $('#saveContent').show();
                        $('#contentEditor').hide();
                        $('#saveContent').val(editor.root.innerHTML);
                    } else {
                        $('#saveContent').hide();
                        $('#contentEditor').show();
                        editor.root.innerHTML =  $('#saveContent').val();
                    }
                }

                editor.on('text-change', function(delta, source) {
                    $('#saveContent').val(editor.root.innerHTML);
                });

            </script>
            <textarea id="saveContent" class="form-control" style="display:none; height: 300px" name="content">{{ data.content | raw }}</textarea>
        </div>
        <div class="form-group col-md-3">
                <label>Choose Categories</label>
                {% set categories = Tina4.call('Content', 'getCategories', [data.id]) %}
                <ul class="tree" style="border:1px solid black">
                    {{ categories | raw }}
                </ul>

        </div>
        <div class="form-group col-md-12">
            <label>Keywords/Tags</label>
            {% include "tagLookup.twig" %}
        </div>





    </div>
    {{  "articleForm" | formToken | raw }}
</form>
