<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta prefix="og: https://ogp.me/ns#" property="og:title" content="{{ title }}"/>
    <meta prefix="og: https://ogp.me/ns#" property="og:type" content="website"/>
    <meta prefix="og: https://ogp.me/ns#" property="og:url" content="{{ url }}"/>
    {% if image %}
        <meta prefix="og: https://ogp.me/ns#" property="og:image" content="{{ image }}"/>
    {% endif %}
    {% if description %}
        <meta name="description" content="{{ description }}"/>
        <meta prefix="og: https://ogp.me/ns#" property="og:description" content="{{ description }}"/>
    {% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}"/>
        <meta prefix="og: https://ogp.me/ns#" property="og:keywords" content="{{ keywords }}"/>
    {% endif %}
    {% block headers %}
        <link rel="stylesheet" type="text/css" href="{{ baseUrl }}{{ Theme.Dir(site.theme) }}/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ baseUrl }}{{ Theme.Dir(site.theme) }}/css/bootstrap-grid.min.css">
        <link rel="stylesheet" type="text/css" href="{{ baseUrl }}{{ Theme.Dir(site.theme) }}/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" type="text/css" href="{{ baseUrl }}{{ Theme.Dir(site.theme) }}/css/bootstrap-utilities.min.css">
        <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/default.css">

        <script src="{{ baseUrl }}{{ Theme.Dir(site.theme) }}/js/jquery.min.js"></script>
        <script src="{{ baseUrl }}{{ Theme.Dir(site.theme) }}/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
    {% if site.custom %}
    {{ site.custom | raw }}
    {% endif %}
</head>
{% block body %}
    {% block content %}
        {{ content | raw  }}
    {% endblock %}
{% endblock %}


</html>
